img.contenti {
    width: 100%;
    height: 300px;
  }
  
  .content {
    background-color: aquamarine;
    grid-area: c;
  }

  .aboutInfo {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "a n"
    "a i";
  }